<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />

  </head>
  <body >
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-danger" href="#">APTLEE</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">Aptlee</h1>
        <h2 class="text-center lato animate slideInDown">Renters need <i>better information</i>, and we have a solution.</h2>
        <p class="text-center">
            <br>
            <form ng-app='aptlee' ng-controller='SignupController as signup' class="col-lg-12">
                <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                  <input ng-model="signup.email" ng-show="signup.showInputForm();" class="form-control input-lg" title="We will not share your email with anyone." placeholder="Enter your email address" type="text">
                  <span ng-show="signup.showInputForm();" class="input-group-btn"><button class="btn btn-lg btn-primary" type="button" ng-click="signup.submit();">OK</button></span>
                  <h4 class="text-center" ng-show="!signup.showInputForm();"><i>Thanks! We will keep you posted!</i></h4>
                </div>
          </form>
        </p>
    </div>
    <a href="#section2">
    <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
    </div>
        </a>
</section>

<section class="container-fluid" id="section2">
    <div class="container v-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                            <h3>Post</h3></div>
                            <div class="panel-body">
                                <i class="fa fa-video-camera fa-4x"></i>
                                <h4>Take video of a soon to be vacant apartment. Post it on Aptlee!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                            <h3>Lease</h3></div>
                            <div class="panel-body">
                                <i class="fa fa-pencil-square-o fa-4x"></i>
                                <h4>Potential lessees see their exact unit on Aptlee!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                            <h3>Get Paid</h3></div>
                            <div class="panel-body">
                                <i class="fa fa-money fa-4x"></i>
                                <h4>Renters get paid, tenants get paid, apartments get paid!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="section7">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-4 text-center">
            <i class="fa fa-envelope fa-4x"></i>
        </div>
    </div>
</section>

<div class="scroll-up">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

  </body>
</html>